@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

.login {
  font-family: "Reggae One", cursive;
  font-size: 20px;
  line-height: 1;
  color: #b764ac;
  letter-spacing: -2px;
}